.languages {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  margin: 0;
  list-style: none;
}

.languages li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  font-weight: 700;
  font-size: 1rem;
}

.languages li::before {
  content: "";
  display: inline-block;
  background-image: url("/assets/img/icons/check.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
