.portifolio {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;

  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 0.7rem;
}

.portifolio li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 0 1rem;
}

.portifolio li .title {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 0.1rem;
}

.portifolio li .title.github::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: url("/assets/img/icons/github.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 0.35rem;
}

.portifolio li a {
  color: white;
  text-decoration: none;
  padding-bottom: 1rem;
}
